html, body {
  font-size: 16px;
  align-items: center;
}

body {
    background-color: grey;
    font-size: 18px;
    font-family: arial;
    align-items: center;
}

#h1 {
  font-size: 50px;
  font-family: arial;
}

.row1, .row2, .row3, .row4, .row5 {
  position: relative;
  float: center;
  align-items: center;
}

#calc {
  background-color: black;
  border: 1px solid black;
  height: 37rem;
  width: 24rem;
  border-radius: 15px;
  align-items: center;
}

#buttons {
  /*position: relative;*/
  align-items: center;
}

#display {
  position: relative;
  background-color: white;
  border: 1px solid orange;
  font-size: 40px;
  text-align: right;
  height: 5rem;
  width: 21rem;
  border-radius: 15px;
  align-items: center;
  top: 1rem;
}

#clear {
  background-color: lightgrey;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 35px;
  border-radius: 10px;
}

#plusMinus {
  background-color: lightgrey;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#percentage {
  background-color: lightgrey;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#operatorDivide {
  background-color: orange;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#number7 {
  background-color: white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#number8 {
  background-color: white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#number9 {
  background-color: white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#operatorMultiply {
  background-color: orange;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#operatorDivide {
  background-color: orange;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#number4 {
  background-color: white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#number5 {
  background-color: white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#number6 {
  background-color: white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#operatorMinus {
  background-color: orange;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#number1 {
  background-color: white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#number2 {
  background-color: white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#number3 {
  background-color: white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#operatorPlus {
  background-color: orange;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#number0 {
  background-color: white;
  height: 5rem;
  width: 10.5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#operatorDot {
  background-color: white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#operatorEquation {
  background-color: orange;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}
