html, body {
  font-size: 16px;
  align-items: center;
}

body {
    background-color: grey;
    font-size: 18px;
    font-family: arial;
    align-items: center;
}

#h1 {
  font-size: 50px;
  font-family: arial;
}

.row1, .row2, .row3, .row4, .row5 {
  position: relative;
  float: center;
  align-items: center;
}

#calc {
  background-color: black;
  border: 1px solid black;
  height: 37rem;
  width: 24rem;
  border-radius: 15px;
  align-items: center;
}

.buttons {
  position: relative;
  text-align: center;
  align-items: center;
}

#display {
  position: relative;
  background-color: white;
  border: 1px solid orange;
  font-size: 40px;
  text-align: right;
  height: 5rem;
  width: 21rem;
  border-radius: 15px;
  align-items: center;
  top: 1rem;
  /*left: 1.25rem;*/
}

#clear {
  background-color: lightgrey;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 35px;
  border-radius: 10px;
}

#plusMinus {
  background-color: lightgrey;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#percentage {
  background-color: lightgrey;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#operatorDivide {
  background-color: orange;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#numberSeven {
  background-color: white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#numberEight {
  background-color: white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#numberNine {
  background-color: white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#operatorMultiply {
  background-color: orange;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#operatorDivide {
  background-color: orange;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#numberFour {
  background-color: white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#numberFive {
  background-color: white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#numberSix {
  background-color: white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#operatorMinus {
  background-color: orange;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#numberOne {
  background-color: white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#numberTwo {
  background-color: white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#numberThree {
  background-color: white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#operatorPlus {
  background-color: orange;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#numberZero {
  background-color: white;
  height: 5rem;
  width: 10.5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#operatorDot {
  background-color: white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}

#operatorEquation {
  background-color: orange;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
}
