html, body {
  /*position: relative;*/
  font-size: 16px;
}

body {
    font-size: 18px;
    font-family: arial;
    background-image: url("./images/galaxy.jpg");
}

h1 {
  position: relative;
  font-size: 30px;
  font-family: arial;
  color: orange;
  align-items: center;
  align-content: center;
  left: 30%;
}

.row1 {
  position: relative;
  right: 3%;
}

.row2 {
  position: relative;
  right: 3%;
}
.row3 {
  position: relative;
  left: 0%;
}
 .row4 {
   position: relative;
   left: 0%;
 }
  .row5 {
    position: relative;
    right: 0%;
}

#calc {
  position: relative;
  background-color: inherit;
  border: 4px solid white;
  height: 37rem;
  width: 24rem;
  border-radius: 15px;
  left: 31%;
  top:30%
}

.button {
  position: relative;
  align-items: center;
}

.display {
  position: relative;
  background-color: inherit;
  border: 3px solid white;
  font-size: 60px;
  text-align: right;
  height: 5rem;
  width: 21rem;
  border-radius: 15px;
  align-items: center;
  align-items: center;
  align-self: center;
  top: 1rem;
  color: white;
  left: 6%;
}

.autoClear {
  background-color: inherit;
  border: 3px solid white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 35px;
  border-radius: 10px;
  color: white;
}

.operatorPlusMinus {
  background-color: inherit;
  border: 3px solid white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
  color: white;
}

.operatorPercent {
  background-color: inherit;
  border: 3px solid white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
  color: white;
}

.operatorDivide {
  background-color: inherit;
  border: 3px solid white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
  color: white;
}

.number7 {
  background-color: inherit;
  border: 3px solid white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
  color: white;
}

.number8 {
  background-color: inherit;
  border: 3px solid white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
  color: white;
}

.number9 {
  background-color: inherit;
  border: 3px solid white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
  color: white;
}

.operatorMultiply {
  background-color: inherit;
  border: 3px solid white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
  color: white;
}

.operatorDivide {
  background-color: inherit;
  border: 3px solid white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
  color: white;
}

.number4 {
  background-color: inherit;
  border: 3px solid white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
  color: white;
}

.number5 {
  background-color: inherit;
  border: 3px solid white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
  color: white;
}

.number6 {
  background-color: inherit;
  border: 3px solid white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
  color: white;
}

.operatorSubtract {
  background-color: inherit;
  border: 3px solid white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
  color: white;
}

.number1 {
  background-color: inherit;
  border: 3px solid white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
  color: white;
}

.number2 {
  background-color: inherit;
  border: 3px solid white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
  color: white;
}

.number3 {
  background-color: inherit;
  border: 3px solid white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
  color: white;
}

.operatorPlus {
  background-color: inherit;
  border: 3px solid white;
  border: 3px solid white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
  color: white;
}

.numberNil {
  background-color: inherit;
  border: 3px solid white;
  height: 5rem;
  width: 10.5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
  color: white;
}

.operatorDot {
  background-color: inherit;
  border: 3px solid white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
  color: white;
}

#equalButton {
  background-color: inherit;
  border: 3px solid white;
  height: 5rem;
  width: 5rem;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
  margin: 0px;
  color: white;
}
